<section class="plp-iam-skeleton" [class.plp-iam-skeleton--dense]="dense" aria-label="جارٍ تحميل البيانات">
  <article class="plp-iam-skeleton__row" *ngFor="let _ of items">
    <span class="plp-iam-skeleton__avatar"></span>
    <span class="plp-iam-skeleton__details">
      <span class="plp-iam-skeleton__line plp-iam-skeleton__line--title"></span>
      <span class="plp-iam-skeleton__line plp-iam-skeleton__line--body"></span>
    </span>
    <span class="plp-iam-skeleton__badge"></span>
  </article>
</section>
