<div class="app-shell">
  <header class="topbar">
    <button
      *ngIf="isMobile"
      type="button"
      class="mobile-menu-button"
      aria-label="فتح القائمة"
      (click)="toggleSidebar()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <div class="brand">
      <span class="brand-badge">PLP</span>
      <div class="brand-texts">
        <span class="brand-title">منصة تخطيط خطوط الإنتاج</span>
        <span class="brand-subtitle">منصة خطط الإنتاج</span>
      </div>
    </div>
    <div class="topbar-actions">
      <span class="notification-button">
        <i class="pi pi-bell"></i>
        <span class="notification-count">{{ notificationCount }}</span>
      </span>
    </div>
  </header>

  <p-sidebar
    [(visible)]="isSidebarVisible"
    [modal]="isMobile"
    [showCloseIcon]="false"
    position="right"
    styleClass="shell-sidebar-shell"
    (onHide)="closeSidebar()"
  >
    <ng-template pTemplate="header">
      <div class="sidebar-header">القائمة</div>
    </ng-template>
    <ng-container *ngIf="showNavigation; else sidebarLoadingState">
      <ul class="menu-list" *ngIf="navigationItems.length > 0">
        <li
          *ngFor="let item of navigationItems"
          class="menu-item"
          [class.active]="isActive(item.route)"
        >
          <a class="menu-link" [routerLink]="item.route" (click)="closeSidebar()">
            <i class="pi {{ item.icon }}"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-template #sidebarLoadingState>
      <plp-loading-skeleton [lines]="5" [showAvatar]="false" [cardLike]="true"></plp-loading-skeleton>
    </ng-template>
  </p-sidebar>

  <aside class="sidebar desktop-sidebar" *ngIf="showNavigation">
    <ul class="menu-list" *ngIf="navigationItems.length > 0">
      <li
        *ngFor="let item of navigationItems"
        class="menu-item"
        [class.active]="isActive(item.route)"
      >
        <a class="menu-link" [routerLink]="item.route">
          <i class="pi {{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
    <plp-loading-skeleton
      *ngIf="isNavigationLoading"
      [lines]="5"
      [showAvatar]="false"
      [cardLike]="true"
    ></plp-loading-skeleton>
  </aside>

  <main class="main-content">
    <p-breadcrumb [model]="breadcrumbItems" class="breadcrumb"></p-breadcrumb>
    <section class="content-wrapper">
      <router-outlet />
    </section>
  </main>
</div>
